@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
}
#menu {
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-family: 'Urbanist', sans-serif;
    width: 90vw;
    #logo {
        font-weight: bold;
        font-size: 5rem;
        display: inherit;  
    }
    ul {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 150px;
        align-items: center;
        width: 100%;
        li {
            list-style: none;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}

#txt-btn {
    margin-bottom: 1.625rem;
    align-self: flex-end;
    display: inherit;
    justify-content: space-evenly;
    align-items: flex-end;
    #get-started {
        justify-self: flex-start;
        align-self: flex-end;
        button {
            font-family: 'Urbanist', sans-serif;
            font-weight: bold;
            font-size: 1.3rem;
            color: white;
            width: 250px;
            height: 50px;
            border-radius: 15px;
            background-color: rgb(29, 238, 99);
            border: rgb(9, 54, 24);
            box-shadow: black;
        }
    }
    .who-txt {
        color: white;
        font-size: 1rem;
        line-height: 2rem;
        width: 50%;
        
    }
}

header {
    border: 1px solid teal;
    background: rgb(60,217,118);
    background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#under-triangle {
    z-index: 9990999999;
    clip-path: polygon(0 0, 0 56%, 100% 0);
    width: 100%;
    height: 20rem;
    position: fixed;
    background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
    box-shadow: inset -12px 0px 15px 7px #000000;
}
#under-line {
position: absolute;
top: 538px;
height: 10px;
width: 100%;
transform: rotate(-6.5deg);
box-shadow: 0 4px 15px 4px #000000;
}
#under-triangle2 {
    z-index: -9834953874;
    margin-top: -8rem;

    position: fixed;
    clip-path: polygon(0 76%, 0 100%, 53% 100%);
    width: 100%;
    height: 20rem;
    background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
    box-shadow: inset -4px 4px 15px 10px #000000;
}