@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
}
.menu, .menu-change {
    
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-family: 'Urbanist', sans-serif;
    width: 90vw;
    .logo {
        font-weight: bold;
        font-size: 5rem;
        display: inherit;  
    }
    .comp_name-change {
          display: none;
    }
    ul {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 150px;
        align-items: center;
        width: 100%;
        li {
            list-style: none;
            font-weight: bold;
            font-size: 2rem;
        }
       
    }
}
.menu-change {
  ul {
    li:last-of-type {
      color: invert($color: #24ff10);
   } 
  }
}

.txt_btn-change {
 // justify-content: right !important;
width: 100vw ;
display: flex;
justify-content: space-between;
}

.txt_btn{
    margin-bottom: 1.625rem;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    .get_started {
        justify-self: flex-start;
        align-self: flex-end;
    }
    .who_txt, .who_txt-change {
        color: white;
        font-size: 1rem;
        line-height: 2rem;
        width: 50%;
        
    }
}
.who_txt-change {
  margin-left: 10%;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  line-height: 2rem;
}
.get_started-change {
    margin-right: 10%;
}


.main_header {
    border: 1px solid teal;
    background: rgb(60,217,118);
    background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px 0px 15px 5px #000000;
}
.main_header-change {
  background-color: rgb(204, 45, 204);
  border-radius: 0  100px 100px 0;
  width: 80%;
}
.main_header-change::before {
  background-color: black;
}

.under_triangle {
    clip-path: polygon(0 0, 0 56%, 100% 0);
    width: 100%;
    height: 20rem;
    background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
   
}
.main_content {
    display: flex;
    .main_text {
        align-self: flex-end;
        font-weight: bold;
        width: 50%;
        color: white;
        background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
        padding: 20px;
        box-shadow: inset 7px 3px 15px 6px #000000;
        }
}
.side_triangle {
    width: 100%;
    position: relative;
    .under_triangle2 {
        position: absolute;
        right: 0;
        height: 100%;
        width: 80%;
        clip-path: polygon(100% 0, 56% 0, 100% 100%);
        box-shadow: inset 0px 0px 15px 5px #000000;
        background: linear-gradient(90deg, rgba(60,217,118,1) 0%, rgba(52,223,175,1) 35%, rgba(0,148,179,1) 100%);
        
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(60, 238, 170);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff17f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff17f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
